@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
.headline, .source {
  width: 95%;
  max-width: 680px;
  margin: 4em auto 1em auto;
  line-height: 1.5; }

.lead {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em; }

.timeline {
  font-family: "Open Sans", sans-serif;
  width: 95%;
  max-width: 800px;
  margin: auto; }
  .timeline h2 {
    margin: 1em 0; }
  .timeline h3, .timeline h5, .timeline p {
    margin: 0; }
  .timeline h3 {
    font-size: 1.3em; }
  .timeline h5 {
    font-size: .9em; }
  .timeline div {
    max-width: 80%;
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    border-bottom-width: 0;
    margin: auto;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: #34435E; }
    .timeline div:before {
      content: counter(section);
      position: absolute;
      border-radius: 50%;
      padding: 10px;
      height: 1.25em;
      width: 1.25em;
      background-color: #34435E;
      text-align: center;
      line-height: 1.25em;
      color: #ffffff;
      font-size: 1em; }
  .timeline div:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
    border-left: 0; }
    .timeline div:nth-child(odd):before {
      left: 100%;
      margin-left: -20px; }
  .timeline div:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
    border-right: 0; }
    .timeline div:nth-child(even):before {
      right: 100%;
      margin-right: -20px; }
  .timeline div:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0; }
  .timeline div:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-width: 3px; }
