{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>
<head>

	{{ block('head_brand') }}

	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800" rel="stylesheet">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"> -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/timeline.css?3" />

</head>

<body>

	{{ block('bar_brand') }}

	{# Emplacement pour le contenu principal #}
	<div class="container">
		<div class="row">
			<div class="offset-md-2 col-md-8 col-sm-12 headline">
				<h1 class="intro">L’évolution des droits des femmes en Suisse</h1>
				<p class="lead">
					Les femmes n’ont obtenu l’autorité parentale qu’en 1978, tandis que le viol conjugal peut être poursuivi sur plainte depuis 1992. Retour en 24 étapes sur les acquis en matière d’égalité de genre</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="offset-md-2 col-md-8 col-sm-12 timeline">
				<br>
		    <div>
		      <h5>7 février 1971</h5>
		      <h3>En votation populaire, les citoyens masculins disent oui au droit de vote et d’éligibilité des femmes</h3>
		      <p>Les premières élections fédérales auxquelles participent les femmes ont lieu en octobre la même année. Elles obtiennent 10 sièges sur 200 au Conseil national, 1 sur 46 au Conseil des Etats.</p>
		    </div>

		    <div>
		      <h5>1er janvier 1978</h5>
		      <h3>Les femmes obtiennent l’autorité parentale sur leurs enfants</h3>
		      <p>L’entrée en vigueur du nouveau droit de l’enfant améliore le statut des mères. Les parents mariés exercent en commun l’autorité parentale – appelée auparavant puissance paternelle – sur leurs enfants. S’ils ne sont pas mariés, c’est désormais la mère qui détient l’autorité parentale.</p>
		    </div>

		    <div>
		      <h5>1er juin 1979</h5>
		      <h3>Ouverture de la première maison pour femmes battues à Zurich</h3>
		      <p>Ce lieu offre une protection contre la violence domestique, des conseils et un accompagnement aux femmes et à leurs enfants.</p>
		    </div>

		    <div>
		      <h5>14 juin 1981</h5>
		      <h3>L’égalité entre femmes et hommes entre dans la Constitution fédérale</h3>
		      <p>Le peuple et les cantons approuvent l’inscription du principe d’égalité des droits dans la Constitution. Il est dit à l’art. 8, al. 3: «L’homme et la femme sont égaux en droit. La loi pourvoit à l’égalité de droit et de fait, en particulier dans les domaines de la famille, de la formation et du travail. L’homme et la femme ont droit à un salaire égal pour un travail de valeur égale.»</p>
		    </div>

		    <div>
		      <h5>12 février 1982</h5>
		      <h3>Une décision de justice rejette les conditions d’admission plus strictes pour les filles dans l’enseignement</h3>
		      <p>Le Tribunal fédéral estime qu’il est illégal de pratiquer une différence de traitement entre garçons et filles pour l’admission dans le degré secondaire supérieur. Il donne ainsi raison aux parents de plusieurs jeunes filles scolarisées dans le canton de Vaud qui avaient intenté une action pour dénoncer les conditions d’admission au collège, plus strictes pour les filles que pour les garçons.</p>
		    </div>

		    <div>
		      <h5>1er octobre 1984</h5>
		      <h3>La Zurichoise radicale Elisabeth Kopp est la première femme élue au Conseil fédéral</h3>
		      <p>Au cours de son mandat à la tête du Département de justice et police, elle s’occupe notamment de politique d’asile et travaille à améliorer la condition des femmes. Sa carrière de conseillère fédérale s’achève de manière prématurée en 1988, à la suite d'un scandale: Elisabeth Kopp avait appelé son mari pour l’inciter à démissionner du conseil d’administration d’une entreprise soupçonnée de blanchiment.</p>
		    </div>

		    <div>
		      <h5>1er septembre 1988</h5>
		      <h3>Création du Bureau fédéral de l’égalité entre femmes et hommes</h3>
		      <p>Cette nouvelle instance, mise sur pied par le Conseil fédéral, a pour mandat d’encourager «la réalisation de l’égalité entre les sexes dans tous les domaines» et d’éliminer «toute forme de discrimination directe ou indirecte». Au cours des années suivantes, d’autres bureaux de l’égalité voient le jour dans plusieurs cantons.</p>
		    </div>

		    <div>
		      <h5>1er janvier 1988</h5>
		      <h3> </h3>
		      <p>Lors de la révision du droit matrimonial, la disposition selon laquelle l’homme est le chef de famille et la femme responsable des tâches ménagères disparaît. Les femmes peuvent désormais ouvrir un compte bancaire ou exercer une activité lucrative sans l’accord de leurs époux.</p>
		    </div>

		    <div>
		      <h5>27 novembre 1990</h5>
		      <h3>Introduction du droit de vote au forceps dans le dernier canton</h3>
		      <p>Le Tribunal fédéral interprète la Constitution d’Appenzell Rhodes-Intérieures en faveur des droits politiques des femmes et impose au canton réfractaire d’introduire le droit de vote et d’éligibilité des femmes.</p>
		    </div>

		    <div>
		      <h5>14 juin 1991</h5>
		      <h3>Grève nationale des femmes</h3>
		      <p>L’article constitutionnel sur l’égalité des droits entre les femmes et les hommes a 10 ans, mais il n’est pas appliqué. Sous le slogan «Les femmes les bras croisés, le pays perd pied», un demi-million de femmes sortent dans la rue pour réclamer une assurance maternité, un congé parental, des places de crèche, une éducation sans sexisme, ou encore un meilleur partage des tâches.</p>
		    </div>

		    <div>
		      <h5>1er janvier 1992</h5>
		      <h3>Le nouveau droit de la nationalité permet aux femmes de conserver leur passeport suisse lorsqu’elles épousent un étranger</h3>
		      <p>Inversement, les étrangères n’acquièrent plus automatiquement la nationalité suisse par mariage.</p>
		    </div>

		    <div>
		      <h5>17 mai 1992</h5>
		      <h3>Selon le nouveau droit pénal en matière sexuelle, le viol conjugal peut être poursuivi sur plainte</h3>
		      <p>Accepté lors d’une votation référendaire, le nouveau droit pénal en matière sexuelle est fondé sur les principes de la liberté de décision en matière de sexualité et de la protection d’un développement sexuel harmonieux.</p>
		    </div>

		    <div>
		      <h5>10 mars 1993</h5>
		      <h3>Ruth Dreifuss est élue au Conseil fédéral</h3>
		      <p>Un homme est élu au Conseil fédéral à la place de la candidate officielle Christiane Brunner. Sous la pression des femmes, il se retire et la socialiste genevoise devient conseillère fédérale.</p>
		    </div>

		    <div>
		      <h5>25 juin 1999</h5>
		      <h3>La 10e révision de l’AVS introduit le «splitting» et le bonus éducatif</h3>
		      <p>Le peuple, lors de la votation référendaire, se prononce en faveur d’innovations dans la prévoyance vieillesse. La révision instaure deux rentes individuelles au lieu de la rente de couple, des bonifications pour tâches éducatives et tâches d’assistance ainsi que le «splitting», en vertu duquel les revenus réalisés pendant le mariage sont partagés par moitié.</p>
		    </div>

		    <div>
		      <h5>1er juillet 1996</h5>
		      <h3>Entrée en vigueur de la loi fédérale sur l’égalité</h3>
		      <p>Interdiction générale de la discrimination dans la vie professionnelle, que ce soit à l’embauche, en matière de rémunération, de promotion, d’attribution des tâches ou de résiliation des rapports de travail. Le harcèlement sexuel sur le lieu de travail est également interdit.</p>
		    </div>

		    <div>
		      <h5>2 juillet 2002</h5>
		      <h3>Approbation en votation populaire du «régime des délais»</h3>
		      <p>L’avortement jusqu’à la douzième semaine de grossesse est décriminalisé.</p>
		    </div>

		    <div>
		      <h5>27 mars 1997</h5>
		      <h3>Adhésion à la Convention de l’ONU interdisant les discriminations à l’égard des femmes</h3>
		      <p>La Suisse est l’un des derniers pays à signer ce texte, qui contient des dispositions détaillées contre la discrimination des femmes dans la politique, la vie publique, l’économie, la culture, la vie sociale et le droit civil. Il impose à la Suisse de présenter périodiquement un rapport sur la situation en matière d’égalité.</p>
		    </div>

		    <div>
		      <h5>3 octobre 2003</h5>
		      <h3>Modification du Code pénal</h3>
		      <p>Les actes de violence, la contrainte sexuelle et le viol entre conjoints et partenaires sont désormais poursuivis d’office. Les Chambres fédérales adoptent une modification du Code pénal suisse (CP) en ce sens.</p>
		    </div>

		    <div>
		      <h5>26 septembre 2004</h5>
		      <h3>Oui à un congé maternité de 14 semaines rémunéré à 80%</h3>
		      <p>Le peuple accepte la révision de la LAPG. Par conséquent, les femmes salariées et les indépendantes ont désormais droit à une allocation de maternité de 14 semaines, pendant lesquelles elles reçoivent 80% du revenu réalisé avant la perte de gain.</p>
		    </div>

		    <div>
		      <h5>5 juin 2005</h5>
		      <h3>Oui à la loi fédérale sur le partenariat enregistré entre personnes de même sexe</h3>
		      <p>Les couples homosexuels peuvent désormais se faire enregistrer à l’office de l’état civil et ont, de ce fait, quasiment les mêmes droits et devoirs que les couples mariés.</p>
		    </div>

		    <div>
		      <h5>1er juillet 2012</h5>
		      <h3>Interdiction des mutilations génitales féminines</h3>
		      <p>Selon le nouvel art. 124 du Code pénal, est punissable «celui qui aura mutilé des organes génitaux féminins, aura compromis gravement ou durablement leur fonction naturelle ou leur aura porté toute autre atteinte». Parallèlement, le travail de sensibilisation et de conseil est intensifié.</p>
		    </div>

		    <div>
		      <h5>1er janvier 2013</h5>
		      <h3>Un nouveau droit du nom égalitaire entre en vigueur</h3>
		      <p>Lors du mariage, la femme et l’homme peuvent conserver chacun leur nom de naissance ou choisir un nom de famille commun.</p>
		    </div>

		    <div>
		      <h5>20 mars 2015</h5>
		      <h3>Nouvelle disposition sur l’entretien de l’enfant</h3>
		      <p>Désormais, l’entretien est défini comme un droit de l’enfant et les enfants de couples non mariés sont placés sur un pied d’égalité avec les enfants de couples mariés.</p>
		    </div>

		    <div>
		      <h5>3 décembre 2018</h5>
		      <h3>Adoption de la révision de la loi sur l’égalité</h3>
		      <p>Le texte dicte aux entreprises de plus de cent personnes de contrôler les salaires des hommes et des femmes, mais ne prévoit pas de mécanisme de contrôle.</p>

		    </div>
			</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="offset-md-2 col-md-8 col-sm-12 source">
			<p>Textes: Céline Zünd, mise en page: Paul Ronga (<a href="https://github.com/palrogg/chronologie-droit-des-femmes">code disponible sur GitHub</a>), sur la base d’un template de <a href="https://codepen.io/letsbleachthis/pen/YJgNpv">Lauren Chilcote</a></p>
			<p>Source:&nbsp;Commission fédérale pour les questions féminines, <a href="https://www.ekf.admin.ch/dam/ekf/fr/dokumente/farbiges_faktenblattvielerreicht-neuherausgefordert40jahreekf-40.pdf.download.pdf/feuille_d_informationencouleurnombreuxsontlesacquis-nouveauxsont.pdf">Nombreux sont les acquis – nouveaux sont les défis</a> et&nbsp;<a href="https://www.ekf.admin.ch/dam/ekf/fr/dokumente/studie/farbiges_faktenblattvielerreicht-vielzutunfrauenpolitikundgleich.pdf.download.pdf/feuille_d_informationencouleurnombreuxsontlesacquis-maisilresteb.pdf">Nombreux sont les acquis – mais il reste beaucoup à faire</a></p>
		</div>
	</div>
</div>

	{{ block('footer_brand') }}


	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
</html>
